@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade esto en tu archivo CSS */
.glow {
  background: black;
  position: relative;
  border-radius: 1rem;
  padding: 2rem;
}
.glow::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  background: linear-gradient(217deg, rgba(255, 0, 0 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 1.5rem;
  z-index: -1;
  filter: blur(20px);
  opacity: 0.7;
}
